@model UserInfoViewModel

@{
    ViewData["Title"] = "OnlyAdmin";
}

<h1>OnlyAdmin</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                claim type
            </th>
            <th>
                claim value
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.UserInfoDictionary)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)

                </td>
            </tr>
        }
    </tbody>

</table>
